<main class="layout">
  <div class="admin__container">
    <h3 class="admin__title">Usuarios registrados</h3>
    {{#each users}}
      <ul class="admin__ul">
        <li>Name: {{this.first_name}}</li>
        <li>Last Name: {{this.last_name}}</li>
        <li>Age: {{this.age}}</li>
        <li>Email: {{this.email}}</li>
        <li>Type: {{this.role}}</li>
      </ul>
    {{/each}}
  </div>
</main>